.btn{
    margin: 5px;
    padding: 8px 12px;
    border: 0px;
    border-radius: 3px;
}
.btn-primary{
    background-color: #0d6fef;
    color: white;
}
.btn-secondary{
    background-color: lightblue;
}
.btn-danger{
    background-color: red;
}
.btn-success{
    background-color: green;
    color: black;
}